body {
  background-color:  #EFFBFB;

}

mytable{
  text-align:left;
  border-style:solid;
  border-width:thin;
  border-top: solid;
  border-left: solid;
  border-bottom: solid;
}

.generaltitle{
  font-weight:bold;
  font-size:36px;
  color:#0e1b69;
  font-family:sans-serif;
}

.generalsubtitle{
  font-weight:bold;
  font-size:28px;
  color:#0e1b69;
  font-family:sans-serif;
}

.bodyforms{
  font-weight:bold;
  font-size:16px;
  color:#0e1b69;
  font-family:sans-serif;
}
