<!DOCTYPE html>
<head>
  <title>Friends</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css')}}">
</head>
<body class = "body">
  <div style = "text-align: center;">
    <div>
      <span class="generaltitle">Friends List</span>
      <br>
      <br>
      <a href="{{ url_for('Home') }}"><button type="button" style="width:60px;">Home</button></a>
      <br>
      <br>
    </div>
  </div>
    <div style = "text-align: center;">
        <span class="generalsubtitle">Accounts to follow</span>
        <ul>
          {% for friends in users %}
          <fieldset style="position:relative; left:605px; width: 600px; border:thin solid #DADADA;" >
            <table border="0" align="center" style="text-align:left;">
              <tr>
                <td width="140px" class="bodyforms">
                    Username:
                </td>
                <td width="300px">
                    {{ friends.username }}
                </td>
                <td>
                  <a href="{{ url_for('AddFriend', username = friends.username) }}"><button type="button">Add Friend</button></a>
                </td>
              </tr>
            </table>
          </fieldset>
          <br>
          {% endfor %}
        </ul>
        <br>
      </div>
      <div style = "text-align: center;">
          <span class="generalsubtitle">Friends</span>
          <ul>
            {% for user in friends %}
            <fieldset style="position:relative; left:605px; width: 600px; border:thin solid #DADADA;" >
              <table border="0" align="center" style="text-align:left;">
                <tr>
                  <td width="140px" class="bodyforms">
                      Username:
                  </td>
                  <td width="300px">
                      {{ user.username2 }}
                  </td>
                  <td width="90px" style="text-align:center;">
                   <a href="{{ url_for('delete', username=user.username2) }}"><button type="button">Delete</button></a>
                  </td>
                  <td width="90px" style="text-align:center;">
                   <a href="{{ url_for('Profile', username=user.username2) }}"><button type="button">View Profile</button></a>
                  </td>
                </tr>
              </table>
            </fieldset>
            <br>
            {% endfor %}
          </ul>
          <br>
        </div>
</body>
</html>
