<!DOCTYPE html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css')}}">
</head>
<body class = "body">
  <div style = "text-align: center;">
    <div>
      <span class="generaltitle">My Wall Space</span>
    </div>
    <div style="position: relative; top:-5px; left: 235px;">
      <a href="{{ url_for('Friends') }}"><button type="button">Friends</button></a>
    </div>
    <div style="position: relative; top:-5px; left: 235px;">
      <a href="{{ url_for('LogIn') }}"><button type="button">Log Out</button></a>
    </div>
    <form action="/home" method="POST">
      {{ form.hidden_tag() }}
        <fieldset style="position:relative; left:670px; width: 520px; border:thin solid #DADADA;" >
          <table border="0" align="center" style="text-align:left;" class="bodyforms">
            <tr>
              <td>
              </td>
              <td style="position:relative; left:-20px; text-align: center;" width="140px">
                Add a post to your wall!
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td width="140px">
                  Title:
              </td>
              <td>
                  {{ form.title(size=40) }}
              </td>
              <td width="80px" style="text-align:left;">
                  <input style="width:60px;" type="submit" value = "Post">
              </td>
            </tr>
              <tr>
                <td valign="top">
                  Post:
                </td>
                <td colspan="2" >
                   {{ form.blogBody(rows='10', cols='40') }}
                </td>
              </tr>
          </table>
        </fieldset>
    </form>
    </div>
    <br>
    <div style = "text-align: center;">
        <span class="generalsubtitle">My Posts</span>
        <ul>
          {% for blog in posts %}
          <fieldset style="position:relative; left:630px; width: 520px; border:thin solid #DADADA;" >
            <table border="0" align="center" style="text-align:left;">
              <tr>
                <td width="140px" class="bodyforms">
                    Title:
                </td>
                <td width="340px">
                    {{ blog.title }}
                </td>
                <td width="90px" style="text-align:center;">
                   <a href="{{ url_for('deletepost', id=blog.id) }}"><button type="button">Delete</button></a>
                </td>
              </tr>
              <tr>
                <td valign="top" class="bodyforms">
                  Description:
                </td>
                <td colspan="2" >
                   {{ blog.blogBody}}
                </td>
              </tr>
            </table>
          </fieldset>
          <br>
          {% endfor %}
        </ul>
        <br>
      </div>
</body>
</html>
