<!DOCTYPE html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css')}}">
</head>
<body class = "body">
  <div style = "text-align: center;">
    <div>
      <span class="generaltitle">{{ username }}'s profile</span>
      <br>
      <br>
      <a href="{{ url_for('Home') }}"><button type="button" style="width:60px;">Home</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="{{ url_for('Friends') }}"><button type="button" style="width:60px;">Friends</button></a>
      <br>
      <br>
    </div>

    <div style = "text-align: center;">
        <span class="generalsubtitle">{{ username }}'s posts</span>
        <ul>
          {% for userposts in posts %}
          <fieldset style="position:relative; left:605px; width: 600px; border:thin solid #DADADA;" >
            <table border="0" align="center" style="text-align:left;">
              <tr>
                <td width="140px" class="bodyforms">
                    Title:
                </td>
                <td width="300px">
                    {{ userposts.title }}
                </td>
              </tr>
              <tr>
                <td valign="top" class="bodyforms">
                  Description:
                </td>
                <td colspan="2" >
                   {{ userposts.blogBody}}
                </td>
              </tr>
            </table>
          </fieldset>
          <br>
          {% endfor %}
        </ul>
        <br>
      </div>
</body>
</html>
