<!DOCTYPE html>
<head>
  <title>Blog Log In</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css')}}">
</head>
<body class = "body">
  <div style = "text-align: center;">
    <h1>Register</h1>
      <form action="/register" method="POST">
        {{ form.hidden_tag() }}
        <fieldset style="position:relative; left:680px; width: 480px; border:thin solid #DADADA;" >
          <table border="0" align="center" style="text-align:left;">
            <tr>
              <td width="100px">
                  Email:
              </td>
              <td tabindex="10">
                  {{ form.email }}
              </td>
              <td tabindex="1" width="80px" style="text-align:center;">
                  <input style="width:60px;" type="submit" value = "Log in">
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td style="position: relative; top:-5px; text-align:center;">
                <span style="font-size: 12px; color: grey;">(minimum 4 characters)</span>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                  Username:
              </td>
              <td tabindex="11" colspan="2">
                  {{ form.username }}
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td style="position: relative; top:-5px; text-align:center;">
                <span style="font-size: 12px; color: grey;">(minimum 4 characters)</span>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                  Password:
              </td>
              <td tabindex="12" colspan="2">
                {{ form.password }}&nbsp;&nbsp;
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td style="position: relative; top:-5px; text-align:center;">
                <span style="font-size: 12px; color: grey;">(minimum 8 characters)</span>
              </td>
              <td>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </div>
</body>
</html>
